body {
    background-color: rgba(0, 0, 131, 0.2);
}

.wrapper {
    margin-inline: auto;
    margin-top: 100px;
    padding: 10px;
}

.buttonWrapper {
    text-align: center;
    margin-top: 150px;
}

.stopButton {
    height: 80px;
    width: 270px;
    margin-left: 50px;
    font-size: 20px;
    font-family: sans-serif;
}
.startButton {
    height: 80px;
    width: 270px;
    margin-right: 50px;
    font-size: 20px;
    font-family: sans-serif;
}

/* #chrono {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
} */

.centerText { 
    /* border: 3px solid green; */
}

#text {
    font-family: opendis;
    font-size: 45px;
    /* border: 3px solid green; */
    margin-left: 25%;
    text-align: left;
}

.icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 16%;
    width: 8%;
}

#result {
    margin-top: 30px;
    font-family: opendis;
    font-size: 35px;
    text-align: center;
}

#error {
    font-size: 45px;
    color: red;
    text-align: center;
}

.startButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .startButton:hover {background-color: #3e8e41}
  
  .startButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .startButton:disabled {
    background-color: #b4b4b4;
  }

  .stopButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .stopButton:hover {background-color: #3e8e41}
  
  .stopButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .stopButton:disabled {
    background-color: #b4b4b4;
  }

.reloadButton {
    margin-top: 35px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

@font-face {
    font-family: "opendis";
    src: url(opendis.otf);
}